@{
    ViewBag.Title = "Empleados";
}

<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <th>Names</th>
            <th>Last Names</th>
            <th>Document Number</th>
            <th>Job</th>
        </thead>
        @foreach (var employee in Model)
        {
            <tbody>
                <tr>
                    <td>@employee.Names</td>
                    <td>@employee.LastNames</td>
                    <td>@employee.DocumentNumber</td>
                    <td>@employee.Job</td>
                </tr>
            </tbody>
        }
    </table>
</div>