@{
    ViewBag.Title = "Administrador";
    ViewBag.Favicon = "admin.svg";
}

<div class="menu">
    <a class="btn btn-danger" asp-controller="Employees" asp-action="SignOut">Cerrar Sesión</a>
    <a class="btn btn-primary" asp-controller="Employees" asp-action="Create">Crear nuevo usuario</a>
</div>

<div class="content-center">
    <h3>@ViewBag.Admin</h3>
    <div class="buttons d-flex gap-3">
        <a class="btn btn-primary" asp-controller="Employees" asp-action="Index">Empleados</a>
        <a class="btn btn-primary" asp-controller="TimeControls" asp-action="Index">Control de Horario</a>
    </div>
</div>