@{
    ViewBag.Title = "Administrador";
}

<div class="content-center">
    <div class="buttons d-flex gap-3">
        <a class="btn btn-primary" asp-controller="Employees" asp-action="Index">Empleados</a>
        <a class="btn btn-primary" asp-controller="TimeControls" asp-action="Index">Control de Horario</a>
    </div>
</div>