@{
    ViewBag.Title = "Sistema de Control Laboral";
}

<div class="menu">
    <a class="btn btn-info" asp-controller="Employees" asp-action="Login">Login</a>
    <a class="btn btn-primary" asp-controller="Employees" asp-action="Create">Register</a>
</div>